*{
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b4747;
}
.form{
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.message{
    font-size: 20px;
    color: #a3a3a3;
    margin-top: 4px;
    text-align: center;
}
.inputs{
    margin-top: 10px;
}
.inputs input{
    width: 40px;
    height: 20px;
    text-align: center;
    justify-content: center;
  border: none;
    border-bottom: 1.5px solid #000000;
    margin:0px 10px;
    background-color:rgba(177, 16, 16, 0);
}
.action{
    margin-top: 20px;
    padding: 12px 12px;
    border-radius: 6px;
    border:none;
    background-color:rgb(7, 0, 14);
    color: white;
    cursor: pointer;
    align-self: end;
}